.menu-container{
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100vh;
  width: 4em;
  padding: 15px;
  padding-top: 0;
  box-sizing: border-box;
  border: 4px solid black;
  /* border-left: 0; */
}

.menu-vertical{
  position: absolute;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: space-evenly;
  transform: rotate(180deg);
  height: 100%;
  font-family: 'AcidGrotesk';
  font-size: 1.5em;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover{
  color: #3b637d;
}